*{
    margin:0;
    padding:0;
    
}
nav{
    position:fixed;
    background-color: skyblue;
    width:100%;
    height: 100px;
    z-index: 1;
}
.logo{
    font-size: 25px;
    position: relative;
    left:5%;
    color: white;
    font-weight: bold;
    line-height: 100px;
   
}
ul{
    position: relative;
    float:right ;
    margin-right: 20px;

}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.btn_login{
    border: 2px solid green;
    background-color: rgb(113, 104, 233);
    padding: 5px 10px;
    border-radius: 5px;
}
.main_img{
    width: 100%;
    height: 300px;
   
}
.section_1{
    
    padding-top: 100px;
}
.img_text{

    top:20%;
    left:35%;
    position: absolute;
    color: white;
    background-color: midnightblue;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;

}
.container{
    display: flex;
    align-items: center;
    gap: 50px;
    }
.welcome_img{
    width: 500px;
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
}
.welcome_text h1{
    margin: 0;
    font-size: 28px;
}

.welcome_text{
    margin-top: 10px;
    font-size: 18px;
}
.teachers{
    padding: 50px;
    text-align: center;
}

.teacher-row{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.teacher-card{
    background-color: #f5f5f5;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.teacher-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.teacher-card h3{
    margin: 15px 0 5px;
    font-size: 20px;
}

.teacher-card p{
    font-size: 16px;
    color: #555;
}
.courses{
    padding: 50px;
    text-align: center;
}

.course-row{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.course-card{
    background-color: #f5f5f5;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.course-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.course-card h3{
    margin: 15px 0 5px;
    font-size: 20px;
}

footer{
    background-color:black;
    height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 10px;
}
.form_deg{
    padding-top: 200px;
}
.label_deg{
    display:inline-block;
    color:black;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login_sub{
    border: 2px solid green;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font_color: black;
}
.log_form{
    background-color: lightgray;
    width: 400px;
    padding-top: 100px ;
    padding-bottom: 100px ;
}
.title_deg{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    background-color: lightseagreen;
    width: 400px;
}
.body_deg{
    background-repeat: no-repeat    ;
    background-size: cover;
    background-attachment: fixed;
}
.btn_admission{
    border: 2px solid green;
    background-color: black
    padding: 5px 10px;
    border-radius: 5px;
}
.adm_back {   
    margin-bottom: 10px;   
    margin-left: 80%;
    padding: 5px 10px;
    background-color: #fafbfc;
    color: black;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.dash_nav{
    background: #1e90ff;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash_nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
}

.card{
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card h3{
    color: #1e90ff;
}
